@{
    Layout = "~/Views/Shared/_LayoutStatus.cshtml";
   @model NewShop.Models.SaleOrder_History
    NewShop.Models.SaleOrder_History SaleOrder_History = new NewShop.Models.SaleOrder_History();
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @*<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">*@
    <meta name="viewport" content="width=1024, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Status Order</title>
    <!-- Custom fonts for this template -->
    <script src="~/contentfilter/js/jquery-2.1.1.js"></script>
    <link href="~/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">  
    <!-- Custom styles for this template -->
    <link href="~/sb-admin/css/sb-admin-2.css" rel="stylesheet" />
    <!-- Custom styles for this page -->  
    <link href="~/sb-admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <style>
        .bannercol {
            /*background: -webkit-gradient(linear,left top,right top,color-stop(0%,#001338),color-stop(50%,#00466d),color-stop(100%,#82dcff));
            background: -webkit-linear-gradient(left,#001338 0,#00466d 50%,#336ca4 100%);
            background: -moz-linear-gradient(left,#001338 0,#00466d 50%,#336ca4 100%);
            background: -ms-linear-gradient(left,#001338 0,#00466d 50%,#336ca4 100%);
            background: -o-linear-gradient(left,#001338 0,#00466d 50%,#336ca4 100%);*/
        }
        
        /*Responsive table*/
        #dataTablex {
            width: 100%;
            border-collapse: collapse;
            background: #34495e36;
            color: #382626fa;
        }
            /* Zebra striping */
            #dataTablex tr:nth-of-type(odd) {
                /*background: #16a085;*/
                /*background: rgb(161, 195, 207);*/
                background: rgb(246 249 250);
            }

            #dataTablex th {
                /*background: #2c3e50;
                font-weight: bold;*/
                background: #454fae;
                font-weight: bold;
                color: bisque;
                font-size: smaller;
            }
            #dataTablex tbody tr td {
                background-color: #eef2f9;
                background-image: -moz-linear-gradient( top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0.0) 100%);
                background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(51%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0.0)));
                color: #262c31;
                font-size: 11px;
            }
        .track {
            position: relative;
            background-color: #ddd;
            height: 7px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 60px;
            margin-top: 50px;
        }

            .track .step {
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                width: 25%;
                margin-top: -18px;
                text-align: center;
                position: relative;
            }

                .track .step.active:before {
                    background: #FF5722;
                }

                .track .step::before {
                    height: 7px;
                    position: absolute;
                    content: "";
                    width: 100%;
                    left: 0;
                    top: 18px;
                }

                .track .step.active .icon {
                    background: #ee5435;
                    color: #fff;
                }

            .track .icon {
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                position: relative;
                border-radius: 100%;
                background: #ddd;
            }

            .track .step.active .text {
                font-weight: 400;
                color: #000;
            }

            .track .text {
                display: block;
                margin-top: 7px;
            }
    </style>
    <style>
        #exampletbByItem {
            background-color: #333;
        }

            #exampletbByItem tbody {
                background-color: cornsilk;
                color: black;
            }

        .exampletbByItem {
            /*margin: -78px;*/
            border-collapse: collapse;
            width: 100%;
            background-color: #FCFCFC;
        }

        .header {
            background-color: #C1D4E6;
            font-weight: bold;
            color: #FFF;
        }

        .exampletbByItem th {
            text-align: center;
        }

        .exampletbByItem th, .exampletbByItem td {
            border: 1px solid #C0C0C0;
            padding: 3px;
        }

        .exampletbByItem td {
            /*text-align: center;*/
            border: 1px solid #D4B5B5;
        }

            .exampletbByItem td td:first-child {
                width: 55%;
            }

        .alt {
            background-color: #E4E9F5;
            color: #000;
        }

        .gridHead a:hover {
            text-decoration: underline;
        }

        .description {
            width: auto;
        }
        #changepass {
            color: #0275d8;
            text-decoration: none;
            margin-bottom: 18px;
            text-align: center;
            cursor: pointer;
        }
    </style>
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
       
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
               
                <div class="container-fluid">

                    <div class="card shadow mb-4 bannercol" >
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4" style="display:none">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="col-sm-4 col-form-label">User Create</label>
                                            <select id="UserCreate" class="form-control" style="color:black"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="display:none">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="col-sm-4 col-form-label">บริษัท</label>
                                            <select id="Company" class="form-control" style="color:black">
                                                <option value="TAC">TAC</option>
                                                <option value="AAC">AAC</option>

                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4" id="sforsales">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="input-group-addon">พนักงานขาย</label>
                                            <select id="Slm" class="form-control" style="color:black">
                                                <option value="0">ALL</option>
                                            </select>
                                            <span class="input-group-addon "><span class="glyphicon glyphicon-user"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" id="typeemp">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="input-group-addon">ลูกค้า</label>
                                            <input type="text" class="form-control ui-autocomplete-input" id="Customer" />
                                            <span class="input-group-addon "><span class="glyphicon glyphicon-user"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" >
                                    <div class="form-group"  id="typecuslog">
                                        <div class="input-group">
                                            <label class="input-group-addon">ลูกค้า</label>
                                            <select class="selectpicker form-control" data-container="body" data-live-search="true" title="เลือกลูกค้า" data-hide-disabled="true" id="selcus"><option value="0"></option></select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="input-group-addon">วันที่ซื้อ</label>
                                            <input type="text" id="txtSOStartDate" style="background-color: white; cursor: pointer;" class="form-control">
                                            <label class="input-group-addon">ถึง</label>
                                            <input type="text" id="txtSOEndDate" style="background-color: white; cursor: pointer;" class="form-control">

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">เบอร์สินค้า<span class=" glyphicon glyphicon-hand-right"></span></span>
                                            <input type="Text" name="search_query" class="form-control" placeholder="ค้นหาสินค้า" id="txtSTKCOD" />
                                            <span class="input-group-addon "><span class="glyphicon glyphicon-user"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="input-group-addon">หมายเลขคำสั่งซื้อ</label>
                                            <input type="text" id="txtsow" class="form-control" style="background-color:white;">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                
                                <div id="forsales" style="display:none">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label class="col-sm-4 col-form-label">พนักงานขาย</label>
                                                <input id="SalemanName" class="form-control" style="background-color:white;" disabled="disabled">
                                                <span class="input-group-addon "><span class="glyphicon glyphicon-user"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label class="col-sm-4 col-form-label">ลูกค้า</label>
                                                <input id="UserID" placeholder="CUS Name" class="form-control" style="background-color:white;" disabled="disabled">
                                                <span class="input-group-addon "><span class="glyphicon glyphicon-user"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label class="col-sm-2 col-form-label">วันที่ซื้อ</label>
                                                <input type="date" id="txtSOStartDate" style="background-color: white; cursor: pointer;" class="form-control" name="txtSOStartDate">
                                                <label class="col-sm-4 col-form-label">ถึง</label>
                                                <input type="date" id="txtSOEndDate" style="background-color: white; cursor: pointer;" class="form-control" name="txtSOEndDate">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-3" style="display:none">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="col-sm-4 col-form-label">สถานะ Order</label>
                                            <select id="DType" name="DType" class="form-control">
                                                <option value="1">Sales Order</option>
                                                <option value="2">Back Order Confirm</option>
                                                <option value="">=== ALL ===</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-4" style="text-align:center">
                                    <div class="form-group">

                                        <input type="button" id="btnSeach" class="btn btn-info btn-large" value="ค้นหา" style="width: 209px;">

                                    </div>
                                </div>
                                <div class="col-md-3" style="display:block;">
                                    <div class="form-group">

                                        <input type="button" id="btnexpdf" class="btn btn-warning btn-large" value="SalesOrderHistory">

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
              
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div id="ordercur" style="display:block">
                        <h1 class="h3 mb-2 text-gray-800">ติดตามการสั่งซื้อ</h1>
                        <!-- <p class="mb-4">
            DataTables is a third party plugin that is used to generate the demo table below.
            For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.
        </p>-->
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary"></h6>
                            </div>
                            <div class="card-body" id="mainorder">
                                <div class="table-responsive">
                                    <div class="fixed-table-container" id="fixed-table-container-1" style="z-index: 1;">
                                        <table class="table table-bordered " id="dataTablex" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Print</th>
                                                    <th></th>
                                                    <th>ชื่อลูกค้า</th>
                                                    <th>สถานะสินค้า</th>
                                                    <th>หมายเลขคำสั่งซื้อ</th>
                                                    <th>หยิบสินค้า</th>
                                                    <th>เลขที่บิล</th>
                                                    <th>วันที่ส่ง</th>
                                                    <th>จำนวนสั่งซื้อ</th>
                                                    <th>ยอดคำสั่ง<br />ซื้อทั้งหมด</th>
                                                    <th>พนักงานขาย</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body" id="detailord" style="display:none">
                                <div class="container">
                                    <article class="card">
                                        <header class="card-header"><a href="#" class="btn btn-warning" data-abc="true" id="bckword"> <i class="fa fa-chevron-left"></i> ย้อนกลับ</a><label style="float: right;">หมายเลขคำสั่งซื้อ. <span id="ordeno"></span></label></header>

                                        <div class="card-body">

                                            <article class="card">
                                                <div class="card-body row">
                                                    <!-- <div class="col"> <strong>Estimated Delivery time:</strong> <br>29 nov 2019 </div>-->
                                                    <!--  <div class="col"> <strong>Shipping BY:</strong> <br> BLUEDART, | <i class="fa fa-phone"></i> +1598675986 </div>-->
                                                    <div class="col"><strong>ลูกค้า:</strong> <br><span id="statucuscod"></span></div>
                                                    <div class="col"><strong>สถานะ:</strong> <br><span id="statusord"></span></div>
                                                    <div class="col"> <strong>สั่งซื้อวันที่:</strong> <br><span id="orddate"></span></div>
                                                    <div class="col"> <strong>ยอดคำสั่งซื้อทั้งหมด:</strong> <br><span id="ordtotal"></span></div>
                                                </div>
                                            </article>
                                            <div class="track" style="display:none">
                                                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">รับ Order เข้าระบบแล้ว</span> </div>
                                                <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text">เตรียมจัดสินค้า</span> </div>
                                                <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text">กำลังจัดสินค้า</span> </div>
                                                <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text">จัดสินค้าเสร็จแล้ว รอบรรจุ</span> </div>
                                                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">บรรจุสินค้าเสร็จแล้ว รอจัดส่ง</span> </div>
                                                <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text">กำลังส่งสินค้า</span> </div>

                                            </div>
                                            <hr>

                                            <div class="fixed-table-container" id="fixed-table-container-2" style="z-index: 1;">
                                                <div class="col"> <strong style="float: right;"><!-- <button class="btn btn-default" style="border-color: #ff5722;background: #c7674399;color: saddlebrown;">สั่งซ้าอีกครั้ง</button>--></strong> <br></div>
                                                <table class="table table-bordered" id="tblOrderDetail" width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>ลำดับ</th>
                                                            <th>เบอร์สินค้า</th>
                                                            <th>ชื่อสินค้า</th>
                                                            <th>ราคาต่อชิ้น</th>
                                                            <!-- <th>ส่วนลด</th>-->
                                                            <th>จำนวนสั่งซื้อ</th>
                                                            <th>ราคารวม</th>
                                                            <!--  <th>จำนวนสั่งซื้อซ้ำ</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>


                                                </table>
                                            </div>

                                            <hr>

                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="overflow-x:auto;overflow-y:scroll; padding: 0; border: 1px solid rgb(245, 244, 245); height: 1000px;display:none" class="single" id="salehis">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h1 class="h3 mb-2 text-gray-800">รายการประวัติย้อนหลัง</h1>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary"></h6>
                            </div>
                            <div>
                                <div id="EmployeeViewGrid">
                                    @Html.Partial("_PartialSaleOrder_History", Model.SaleOrder_History_Grid)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
          
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <div class="body__overlay"></div>
    <!-- Start Offset MEnu -->
    <div class="offsetmenu">
        <div class="offsetmenu__inner">
            <div class="offsetmenu__close__btn">
                <a href="#"><i class="zmdi zmdi-close"></i></a>
            </div>
            <div class="off__contact">
                <div class="logo">
                    <a href="">
                        My Account Customer

                    </a>
                </div>
                <div class="offset__single">
                    <div id="cusname">

                    </div>

                </div>
                <p>DEFAULT BILLING ADDRESS</p>
                <div class="offset__single">
                    <div id="addcus">

                    </div>

                </div>
            </div>

            <div class="offset__widget">
                <div class="offset__single">
                    <h4 class="offset__title">Credit Limit</h4>
                    <div id="crlicusaac">

                    </div>
                    <div id="crlicustac">

                    </div>
                </div>
                <div class="offset__single">
                    <h4 class="offset__title">Credit Balance</h4>
                    <div id="crbarcusaac">

                    </div>
                    <div id="crbarcustac">

                    </div>
                </div>
            </div>
            <div class="offset__sosial__share">
                <div class="offset__title" id="changepass">Change password</div>

                @*<h4 class="offset__title">Follow Us On Social</h4>
                    <ul class="off__soaial__link">
                        <li><a class="bg--twitter" href="#" title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>

                        <li><a class="bg--instagram" href="#" title="Instagram"><i class="zmdi zmdi-instagram"></i></a></li>

                        <li><a class="bg--facebook" href="#" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>

                        <li><a class="bg--googleplus" href="#" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a></li>

                        <li><a class="bg--google" href="#" title="Google"><i class="zmdi zmdi-google"></i></a></li>
                    </ul>*@
            </div>
        </div>
    </div>
    <!-- End Offset MEnu -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ModalWarning -->
    <div class="modal" id="myModalWarning" role="dialog">
        <div class="modal-dialog">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <strong>Warning!</strong>
                <button type="button" class="close" data-dismiss="modal" aria-label=" close"><span aria-hidden="true">&times;</span></button>

                <div class="modal-body">
                    <div id="textAlertWarning">Some text in the modal.</div>
                </div>

            </div>
        </div>
    </div>
    <!-- ModalWarning -->
    <div class="modal" id="myModal">

        <div class="modal-dialog" role="document" style="width: 360px;">

            <div class="modal-content">

                <div class="modal-header" style="background-color: #337AB7; padding: 16px 16px; color: #FFF; border-bottom: 2px dashed #337AB7; ">

                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>*@

                    <h4 class="modal-title" id="myModalLabel"></h4>

                </div>

                <div class="modal-body" id="texterror">
                </div>

                <div class="modal-footer">

                    @*<button type="button" class="btn btn btn-primary" data-dismiss="modal">OK</button>*@

                    <button type="button" class="btn btn btn-success" data-dismiss="modal" id="btnlogin">เข้าสู่ระบบอีกครั้ง</button>

                    @*<button type="button" class="btn btn-orange" data-dismiss="modal">Cancel</button>*@

                </div>

            </div>

        </div>

    </div>
    <!-- Bootstrap core JavaScript-->
    
    <script src="~/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/sb-admin/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    @*<script src="~/sb-admin/vendor/datatables/jquery.dataTables.min.js"></script>*@
    @*<script src="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>*@
    <!-- Page level custom scripts -->
    @*<script src="~/sb-admin/js/demo/datatables-demo.js"></script>*@
    <script src="~/Scripts/webAddress.js"></script>
    <link href="~/tmartcss/JSautocomplete/jquery-ui.css" rel="stylesheet" />
    <script src="~/tmartcss/JSautocomplete/jquery-ui-1.9.2.js"></script>

    <script src="~/Loadingmodal/js/modal-loading.js"></script>
    <link href="~/Loadingmodal/css/modal-loading-animate.css" rel="stylesheet" />
    <link href="~/Loadingmodal/css/modal-loading.css" rel="stylesheet" />
    <script src="~/fixed-table-master/fixed-table.js"></script>
    <link href="~/fixed-table-master/fixed-table.css" rel="stylesheet" />
    <script src="~/Scripts/CheckFuntion/Loginexpire.js"></script>
   
    <script type="text/javascript">
    var id = '@Request.RequestContext.HttpContext.Session["ID"]';
    var userid = '@Request.RequestContext.HttpContext.Session["UserID"]';
    var usertype = '@Request.RequestContext.HttpContext.Session["UserType"]';
    var usercode = '@Request.RequestContext.HttpContext.Session["CUSCOD"]';
    var usrexpire = '@Request.RequestContext.HttpContext.Session["expdatecal"]';
    var cuscod;
    resourceAddress.hash();
   
    expire(usrexpire)
    function checklogin(userid, id) {
        $.ajax({
            url: '@Url.Action("GetdataSessionlogin", "DataCenter")',
            data: {
                UsrID: userid,
                SessionId: id

            },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                var splitstring = data.StrStstuslogin;
                //console.log(splitstring);
                let text = splitstring;
                const myArray = text.split("|");
                let mysession = myArray[1];
                let mystatus = myArray[0];
               
                if (id != mysession) {
                    $("#texterror").empty();
                    $("#texterror").text("ขออภัย ท่านทำรายการเกินระยะเวาลาที่กำหนด กรุณาเข้าใช้งานใหม่อีกครั้ง");
                    $("#myModal").modal();
                    //window.location.replace("../Account/LogIn");
                } else {

                    if (mystatus == "0") {
                        $("#texterror").empty();
                        $("#texterror").text("ขออภัย ท่านทำรายการเกินระยะเวาลาที่กำหนด กรุณาเข้าใช้งานใหม่อีกครั้ง");
                        $("#myModal").modal();
                        //window.location.replace("../Account/LogIn");
                    }
                }
            }
        });

    }
        function checkPrivilege(userid, cuscod) {
            $.ajax({
                url: '@Url.Action("GetdataPrivilege", "DataCenter")',
                data: {
                    UsrID: userid,
                    cuscod: cuscod

                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    var splitstring = data.StrStstuslogin;
                   
                    if (splitstring == "1") {
                        $("#texterror").empty();
                        $("#texterror").text("ขออภัย ท่านทำรายการเกินระยะเวลาที่กำหนด กรุณาเข้าใช้งานใหม่อีกครั้ง");
                        $("#myModal").modal();
                        return false;

                    }
                }
            });

        }

    if (usertype == "") {
        window.location.replace("../Account/LogIn");

    } else {
        if (usertype == "1" || usertype == "2") {
            if (param_values.numcuber != undefined) {
                cuscod = atob(param_values.numcuber)

            } else {
                cuscod = "";
            }
            $("#changepass").css("display", "none");
        } else if (usertype == "5") {
            // resourceAddress.hash();
            var cuscod = "";
            $("#changepass").css("display", "none");
        } else if (usertype == "6") {
           
            $(window).on('load', function () {
                //alert("load")
                checklogin(userid, id)
            });
            window.onclick = function () {
                //alert("onclick")
                checklogin(userid, id)
            };
            $('.navbar-nav').click(function () {
                // alert("navbar-nav")
                checklogin(userid, id)
            });
            $(document).bind('mousedown keydown', function (ed, e) {

                checklogin(userid, id)
            });
            $(window).scroll(function (e) {

                checklogin(userid, id)
            });
           
            if (param_values.numcuber != undefined) {
                cuscod = atob(param_values.numcuber)
               
            } else {
                cuscod = "";
            }
           // alert(cuscod)
            if (cuscod != "") {
                checkPrivilege(userid, cuscod)
            }
            getcus(cuscod);
            $("#changepass").css("display", "block");
        }
    }

    $("#userssmall").text("บัญชีของคุณ " + userid);
    if (usertype != "6") {
        getslmandcus()
        $("#sforsales").css('display', 'block');
        $("#typeemp").css('display', 'block');
        $("#typecuslog").css('display', 'none');
        if (cuscod != "") {
            $.ajax({
                url: '@Url.Action("GetdatabyCus", "DataCenter")',
                data: {
                    cusel: cuscod
                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    //console.log(data);
                    if (data.length == 1) {
                        $("#Customer").val(data[0].CUSCOD + "|" + data[0].CUSNAM)

                        $("#Slm").val(data[0].SLMCOD);
                    }
                }
            });

            $.ajax({
                url: '@Url.Action("GetdatabyCus", "DataCenter")',
                data: {
                    cusel: cuscod
                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                   // console.log(data);
                    //$("#cusname").text("Custome Code:" + data[0].CUSCOD + "/" + data[0].CUSNAM);
                    $("#cusname").text(data[0].CUSNAM + " (" + data[0].CUSCOD + ")");
                    $("#addcus").text(data[0].ADDR_01 + data[0].ADDR_02);
                    $("#crlicusaac").text("AAC: " + commaSeparateNumber(data[0].AACCrlimit));
                    $("#crlicustac").text("TAC: " + commaSeparateNumber(data[0].TACCrlimit));
                    $("#crbarcusaac").text("AAC: " + commaSeparateNumber(data[0].AACBalance));
                    $("#crbarcustac").text("TAC: " + commaSeparateNumber(data[0].TACBalance));
                    $("#d1").text(data[0].CUSNAM + " (" + data[0].CUSCOD + ")");
                    getCreditcuskey(cuscod);//ดึงวงเงินจากร้านแม่
                }
            });
        }
        getdata(userid)
    } else {
        //alert(usertype)
        $("#sforsales").css('display', 'block');
        $("#typeemp").css('display', 'none');
        $("#typecuslog").css('display', 'block');
        $.ajax({
            url: '@Url.Action("Getdateslmbycustomer", "DataCenter")',
            data: {
                cuscod: cuscod
            },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
               // console.log(data);
                var select = $("#Slm");
                 select.children().remove();
                $("#Slm").append($("<option custyp=" + data[0].SLMCOD + ">").val(data[0].SLMCOD).text(data[0].SLMCOD + "|" + data[0].SLMNAM));
              
                $("#Slm").prop("disabled", true);
             
                //datacus();  ///auto get customer to option select customer
            }
        });
       
        $.ajax({
            url: '@Url.Action("Getdatalogincustomer", "DataCenter")',
            data: {},
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                //console.log(data);
              
                    var select = $("#selcus");
                    select.children().remove();
                    
                   // select.append($("<option>").val("ALL").text("ลูกค้าทั้งหมด"));
                    $.each(data, function (key, value) {

                        select.append('<option value=' + value.CUSCOD + '>' + value.CUSCOD + '|' + value.CUSNAM +'</option>');
                    });
                   // $('.selectpicker').selectpicker('refresh');
                    $("#selcus").val(cuscod).change();
            }
        });
        $.ajax({
            url: '@Url.Action("GetdatabyCus", "DataCenter")',
            data: {
                cusel: cuscod
            },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
               // console.log(data);
                // $("#cusname").text("Custome Code" + data[0].CUSCOD + "  Customer Name" + data[0].CUSNAM);
                $("#cusname").text(data[0].CUSNAM + " (" + data[0].CUSCOD + ")");
                $("#addcus").text(data[0].ADDR_01 + data[0].ADDR_02);
                $("#crlicusaac").text("AAC: " + commaSeparateNumber(data[0].AACCrlimit));
                $("#crlicustac").text("TAC: " + commaSeparateNumber(data[0].TACCrlimit));
                $("#crbarcusaac").text("AAC: " + commaSeparateNumber(data[0].AACBalance));
                $("#crbarcustac").text("TAC: " + commaSeparateNumber(data[0].TACBalance));
                $("#d1").text(data[0].CUSNAM + " (" + data[0].CUSCOD + ")");
                getCreditcuskey(cuscod);//ดึงวงเงินจากร้านแม่
            }
        });
        getcus(cuscod);
    }
        function getCreditcuskey(cusel) {
            $.ajax({
                url: '@Url.Action("GetdCustomerCredit", "DataCenter")',
                data: {
                    cusel: cusel
                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    //console.log(data);

                    $("#crlicusaac").text("AAC: " + commaSeparateNumber(data[0].AACCrlimit));
                    $("#crlicustac").text("TAC: " + commaSeparateNumber(data[0].TACCrlimit));


                }
            });
        }

    function getdata(userid) {
        $.ajax({
            url: '@Url.Action("UserInsert", "Statuslist")',
            data: { usre: userid },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                // console.log(data)
                // data.GroupUserInsert[0].val.Value
                var select = $("#UserCreate");
                // select.children().remove();
                select.append($("<option>").val(data.GroupUserInsert[0].Value).text(data.GroupUserInsert[0].Value));
            }
        });
    }
    function getcus(cuscod) {
        $.ajax({
            url: '@Url.Action("GetdatabyCus", "DataCenter")',
            data: { cusel: cuscod },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                var typin = data[0].INACTIVE;
                if (typin == "Y") {

                    $("#textAlertWarning").empty();
                    $("#textAlertWarning").text("ลูกค้าร้าน " + data[0].CUSNAM + "INACTIVE กรุณาติดต่อแผนก Credit Control หรือ Sales Admin");
                    $("#myModalWarning").modal();

                    return false;
                } else {
                    $("#Customer").val(data[0].CUSCOD + "|" + data[0].CUSNAM)
                    $("#Customer").prop("disabled", true);
                }
            }
        });
    }
    function getslmandcus() {
        $.ajax({
            url: '@Url.Action("Getdateslm", "DataCenter")',
            data: {

            },
            type: "POST",
            dataType: "JSON",
            success: function (data) {

                var select = $("#Slm");
                select.children().remove();

                if (usertype == "1") {
                    select.append($("<option>").val("ALL").text("Sales Man"));
                }
                $(data).each(function (index, item) {
                    select.append($("<option custyp=" + item.SLMCOD + ">").val(item.SLMCOD).text(item.SLMCOD + "|" + item.SLMNAM));
                });
            }
        });
    }
    function commaSeparateNumber(val) {
        while (/(\d+)(\d{3})/.test(val.toString())) {
            val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
        }
        return val;
    }
    function nl1br(el) {
        var str = el;
        var res = str.split("/");
        var x = res[1].length / 2;
        var html = res[0] + "<br>" + res[1].substring(0, 27) + "<br>" + res[1].substring(27, x + x);
        return html;
    }
    function nl2br(el) {
        // var html = el.substring(0, 40) + "<br>" + el.substring(40, 80) + "<br>" + el.substring(80, 120);
        var html = el.substring(0, 15) + "<br>" + el.substring(15, 30) + "<br>" + el.substring(30, 50);
        return html;
    }
    function nl3br(el) {
        var len = el.length;
        var x = len / 3;
        if (len > 15) {
            var html = el.substring(0, x) + "<br>" + el.substring(x, x + x) + "<br>" + el.substring(x + x, x + x + x);
        } else {
            var html = el;
        }
        return html;
    }
    $("#Customer").autocomplete({
        selectFirst: true,
        autoFocus: true,
        source: function (request, response) {
            // var param = { Name: $('input[type="search"]').val(), Slm: $('#selslm').val() };
            var param = { Name: $("#Customer").val(), Slm: $('#Slm').val() };
            $.ajax({
                url: '@Url.Action("GetdateCusCode", "DataCenter")',
                data: JSON.stringify(param),
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataFilter: function (data) { return data; },
                success: function (data) {

                    response($.map(data.slice(0, 50), function (item) {
                        return {
                            value: item
                        }
                    }))

                },
                error: function (XMLhttpsRequest, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        },
        select: function (event, ui) {

            var Code = ui.item.value;
            var split_StockCode = Code.split('|');
            var item = "";
            if (split_StockCode[0] != "") {
                item = split_StockCode[0].trim();
            }

            $.ajax({
                url: '@Url.Action("GetdatabyCus", "DataCenter")',
                data: {
                    cusel: item
                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    var typin = data[0].INACTIVE;
                    if (typin == "Y") {

                        $("#textAlertWarning").empty();
                        $("#textAlertWarning").text("ลูกค้าร้าน " + data[0].CUSNAM + "INACTIVE กรุณาติดต่อแผนก Credit Control หรือ Sales Admin");
                        $("#myModalWarning").modal();
                        $("#Customer").val("");
                        return false;
                    } else {
                        $("#Customer").val(data[0].CUSCOD + "|" + data[0].CUSNAM)
                        //  $("#Customer").prop("disabled", true);
                    }
                }
            });
        },
        minLength: 2//minLength as 2, it means when ever user enter 2 character in TextBox the AutoComplete method will fire and get its source data.
    });
        $("#txtSTKCOD").autocomplete({
            selectFirst: true,
            autoFocus: true,
            source: function (request, response) {
                var res = [];
                var MyIndexValue = $("#Customer").val();
                // console.log(MyIndexValue);
                if (MyIndexValue !== "") {
                    res = MyIndexValue.split("|");

                } else { res[0] = "(ALL)"; }
                var valCompany = $('#Company').val()
                var param = {
                    Name: $('#txtSTKCOD').val(),
                    Xcus: res[0],
                    XvalCompany: 'ALL',
                    Xval:"1"
                };
                $.ajax({
                    url: '@Url.Action("GetdateStockCode", "Home")',
                    data: JSON.stringify(param),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        //console.log(data.length);
                        //console.log(data);
                        response($.map(data.slice(0, 50), function (item) {
                            return {
                                value: item
                            }
                        }))
                    },
                    error: function (XMLhttpsRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            }
        });
        @*$("#textfree").autocomplete({
        selectFirst: true,
        autoFocus: true,
        timeout: 1000000,

        source: function (request, response) {

            var param = {
                maker: $("#maker").val(),
                modelno: $("#Model").val(),
                submodel: $("#submodel").val(),
                XvalCompany: $("#company").val(),
                catalogue: $("#catalogue").val(),
                brand: $("#brand").val(),
                Name: $("#textfree").val(),
                cuscod: "",
                yrStart: "",
                yrEnd: "",
                itemno: "",
                engine: "",
                productgroup: $("#productgroup").val(),
                productline: $("#productline").val(),
                itemsegment: $("#segment").val()
            };

            $.ajax({
                url: '@Url.Action("GetdateStockCode", "Home")',
                data: JSON.stringify(param),
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataFilter: function (data) { return data; },
                success: function (data) {

                    response($.map(data.slice(0, 50), function (item) {
                        return {
                            value: item
                        }
                    }))
                },
                error: function (XMLhttpsRequest, textStatus, errorThrown) {
                    //  alert(textStatus + '&&' + errorThrown + '&&' + XMLhttpsRequest);
                    alert(request.term);
                }
            });
        },

        minLength: 2//minLength as 2, it means when ever user enter 2 character in TextBox the AutoComplete method will fire and get its source data.
    });*@
        $(document).on("click", "#myModal", function () {
            // $('#myModal3').click(function () {
            if (usertype == "6") {
                $("#myModal").modal({ backdrop: "static" });
            }
        });
        $('#btnlogin').click(function () {
            if (usertype == "6") {
                window.location.replace("../Account/LogIn");
            }
        });
        $('#changepass').click(function () {
            if (usertype == "6") {
                window.location.replace("../ChangePassword/Index");
            }
        });
        $('.button-left').click(function () {
            $('.sidebar').toggleClass('fliph');
        });
        $('li a .toggle__menu').on('click', function () {


            $('.offsetmenu').addClass('offsetmenu__on');
            $('.body__overlay').addClass('is-visible');

        });
        $('.offsetmenu__close__btn').on('click', function () {

            $('.offsetmenu').removeClass('offsetmenu__on');
            $('.body__overlay').removeClass('is-visible');


        });
    $(document).on('click', '#btnSeach', function () {

        fnGetOrder();
        $("#salehis").css('display', 'none');
        $("#ordercur").css("display", "block");
        $("#detailord").css('display', 'none');
        $("#mainorder").css("display", "block");
    });
    var now = new Date();

    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    //var today = now.getFullYear() + "-" + (month) + "-" + (day);
    var today = (day) + "/" + (month) + "/" + now.getFullYear();

    $('input[id=txtSOStartDate]').val(today);
    $('input[id=txtSOEndDate]').val(today);
    $('input[id=txtSOStartDate]').datepicker({ dateFormat: 'dd/mm/yy' }).val();
    $('input[id=txtSOEndDate]').datepicker({ dateFormat: 'dd/mm/yy' }).val();
    $("input[type=text]").attr("autocomplete", "off");
    var fixedTable1 = fixTable(document.getElementById('fixed-table-container-1'));
    var fixedTable2 = fixTable(document.getElementById('fixed-table-container-2'));
    function fnGetOrder() {
        var User = $('#UserCreate').val();
        var slm = $('#slm').val();
        var Usertype = usertype;
        var _CUSCOD = "";
        var res = [];
        if (Usertype != "1") {
            slm = $('#slm').val();
            if (Usertype != "6") {
                var MyIndexValue = $('#Customer').val();
                // console.log(MyIndexValue);
                if (MyIndexValue !== "") {
                    res = MyIndexValue.split("|");
                } else { res[0] = "0"; }

                // var CUSCOD = $('#XXcus').val();
                _CUSCOD = res[0];
            } else if (Usertype == "6") {
                _CUSCOD = $('#selcus').val();
                
            }
        }
        else {

            //_CUSCOD = $('#CUSCOD').val();
            var MyIndexValue = $('#Customer').val();
            //console.log(MyIndexValue);
            if (MyIndexValue !== "") {
                res = MyIndexValue.split("|");

            } else { res[0] = "0"; }
            _CUSCOD = res[0];
        }
        var _SOStartDate = $('#txtSOStartDate').val();
        var _SOEndDate = $('#txtSOEndDate').val();
        var _STKCOD = $('#txtSTKCOD').val();
        var _DType = $('#DType').val();
        var _Sow = $('#txtsow').val();
        var UserCreate = $('#UserCreate').val();
        slm = $('#Slm').val();
        if (_STKCOD == "ค้นหาสินค้า") {
            _STKCOD = "";
        }
        var _latitude = "";
        var _longitude = "";
        var _str = "";
        $('#ordercur').css("dispaly", "block");
        var loading = new Loading({ direction: 'hor', discription: 'Loading...', defaultApply: true, });
       
        $.ajax({
            url: '@Url.Action("GetOrder", "Statuslist")',
            data: {
                CUSCOD: _CUSCOD
                , SLMCODE: slm
                , SO_SDate: _SOStartDate
                , SO_EDate: _SOEndDate
                , STKCOD: _STKCOD
                , DType: _DType
                , SOW: _Sow
                , UserCreate: UserCreate
                , Usertype: Usertype
            },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                //console.log(data)
                $('#fixed-table-container-1 tbody:last-child').html("");
                if (data.Getdata.length != 0) {
                    loading.out()
                    var SubmithtmlPage = '';

                    for (var i = 0; i < data.Getdata.length; i++) {
                        // SubmithtmlPage = '<tr><td align="center">' + data.Getdata[i].val.RowNo + '</td>';
                        _latitude = data.Getdata[i].val.Latitude;
                        _longitude = data.Getdata[i].val.Longitude;
                        _str = data.Getdata[i].val.Order_Status;
                        SubmithtmlPage += '<tr><td align="center"><a id="myHrefPrint" Cus="' + data.Getdata[i].val.Customer + '"  ORD_ID="' + data.Getdata[i].val.ORD_ID + '" ORD_DocNo="' + data.Getdata[i].val.ORD_DocNo + '" DType="' + data.Getdata[i].val.DType + '" class="fa fa-print fa-3" style="font-size: 28px;cursor: pointer;color: #1BB847;"></a></td>';
                        SubmithtmlPage += '<td style="width: 45px; position: absolute; left: 0px;"><button id="myHref"  cus="' + data.Getdata[i].val.Customer + '" totalamt="' + data.Getdata[i].val.ORD_TotalAmt + '"  statusdate="' + data.Getdata[i].val.ORD_Date + '"   status="' + data.Getdata[i].val.Order_Status + '"  Cus="' + data.Getdata[i].val.Customer + '"  ORD_ID="' + data.Getdata[i].val.ORD_ID + '" ORD_DocNo="' + data.Getdata[i].val.ORD_DocNo + '" DType="' + data.Getdata[i].val.DType + '"><span class="purchase-card-buttons__button-content"> ดูข้อมูลการสั่งซื้อ </span></button></td>';
                        // SubmithtmlPage += '<td style="width: 45px; position: absolute; left: 0px;"><button class=""><span class="purchase-card-buttons__button-content"> ซื้ออีกครั้ง </span></button></td>';
                        SubmithtmlPage += '<td>' + nl1br(data.Getdata[i].val.Customer) + '</td>';
                        SubmithtmlPage += '<td>' + data.Getdata[i].val.Order_Status + '<br>';
                        if (_latitude != "") {
                            SubmithtmlPage += '<a  id="myHrefmap" latitude ="' + _latitude + '" longitude ="' + _longitude + '" style="color: blue;cursor: pointer;"> >>กดติดตามคนขับ<< </a>';
                        }
                        SubmithtmlPage += '</td>';
                        if (data.Getdata[i].val.ORD_DocN != "") {
                            SubmithtmlPage += '<td>' + data.Getdata[i].val.ORD_DocNo + '<br>วันที่สั่ง:' + data.Getdata[i].val.ORD_Date.substring(0,10)+ '</td>';
                        } else {
                            SubmithtmlPage += '<td></td>';
                        }
                        if (data.Getdata[i].val.Picking != "") {
                            SubmithtmlPage += '<td>' + data.Getdata[i].val.Picking + '<br>Date:' + data.Getdata[i].val.Picking_Date + '</td>';
                        } else {
                            SubmithtmlPage += '<td></td>';
                        }
                        if (data.Getdata[i].val.Invoice != "") {
                            SubmithtmlPage += '<td>' + data.Getdata[i].val.Invoice + '<br>Date:' + data.Getdata[i].val.Invoice_Date + '</td>';
                        } else {
                            SubmithtmlPage += '<td></td>';
                        }
                        //SubmithtmlPage += '<td>' + data.Getdata[i].val.DeliveryDate.substring(0, 10) + '</td>';
                        SubmithtmlPage += '<td>' + data.Getdata[i].val.DeliveryDate + '</td>';
                        SubmithtmlPage += '<td>' + data.Getdata[i].val.QTY + '</td>';
                        SubmithtmlPage += '<td>' + commaSeparateNumber(data.Getdata[i].val.ORD_TotalAmt) + '</td>';
                        SubmithtmlPage += '<td>' + data.Getdata[i].val.SlmCod + '</td>';
                        SubmithtmlPage += '</tr>';


                    }
                    $('#fixed-table-container-1  tbody:last-child').append(SubmithtmlPage);
                } else {
                    loading.out()
                    $("#textAlertWarning").empty();
                    $("#textAlertWarning").text("ไม่มีข้อมูลที่ท่านต้องการค้นหา");
                    $("#myModalWarning").modal();
                }
                var fixedTable1 = fixTable(document.getElementById('fixed-table-container-1'));
            }
        });
    }

        
        function subdate(_datesup) {
            //var today = new Date(_datesup);
            ////var str = _datesup;
            ////var res = str.substr(1, 10);
            ////var today = new Date(_datesup);
            //var dd = String(today.getDate()).padStart(2, '0');
            //var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            //var yyyy = today.getFullYear();

            //today = mm + '/' + dd + '/' + yyyy;
            var from = _datesup;
            var numbers = from.match(/\d+/g);
            var date = new Date(numbers[2], numbers[0] - 1, numbers[1]);
            //return today;
        }
    function checkststusorder(status, callback) {
        var valchk;

        if (status = "") {
            valchk == "0";
        }
        else if (status == "รับ Order เข้าระบบแล้ว") {
            valchk = "1";
        }
        else if (status == "เตรียมจัดสินค้า") {
            valchk = "2";
        }
        else if (status == "กำลังจัดสินค้า") {
            valchk = "3";
        }
        else if (status == "จัดสินค้าเสร็จแล้ว รอบรรจุ") {
            valchk = "4";
        }
        else if (status == "บรรจุสินค้าเสร็จแล้ว รอจัดส่ง") {
            valchk = "5";
        }
        else if (status == "กำลังส่งสินค้า") {
            valchk = "6";
        }
        //alert(valchk)
        callback(valchk);
    }
    $(document).delegate('#myHrefPrint', 'click', function () {
        var ORD_ID = $(this).attr('ORD_ID');
        var ORD_DocNo_x = $(this).attr('ORD_DocNo');
        var ORD_DocNo = ORD_DocNo_x.substring(0, 11)   //
       
        var ORD_Cus = $(this).attr('cus');
        window.open("../Report/SOForm.aspx?SONUM=" + ORD_DocNo + "/" + ORD_Cus);

        return false;
    });
    $(document).delegate('#myHrefmap', 'click', function () {
        var latitude = $(this).attr('latitude');
        var longitud = $(this).attr('longitude');
        //alert(latitude + "////" + longitud)
        // window.open("../Report/SOForm.aspx?SONUM=" + ORD_DocNo + "/" + ORD_Cus);

        window.open('https://maps.google.com/maps?q=' + latitude + ',' + longitud);
        return false;
    });
    $(document).delegate('#myHref', 'click', function () {
        var ORD_ID = $(this).attr('ORD_ID');
        var ORD_DocNo_x = $(this).attr('ORD_DocNo');
        var ORD_DocNo = ORD_DocNo_x.substring(0, 11)
        var DType = $(this).attr('DType');
        var status = $(this).attr('status');

        var statusdate = $(this).attr('statusdate');
        var totalamt = $(this).attr('totalamt');
        var cus = $(this).attr('cus');

        $("#detailord").css("display", "block");
        $("#mainorder").css("display", "none");
        $('#ordeno').text(ORD_DocNo);
        $('#statusord').text(status);
        $('#orddate').text(statusdate);
        $('#ordtotal').text(commaSeparateNumber(totalamt));
        $('#statucuscod').text(cus);
        fnGetOrderDetail(ORD_ID, ORD_DocNo, DType);
        // return false;
    });
    $(document).on('click', '#bckword', function () {
        $("#detailord").css("display", "none");
        $("#mainorder").css("display", "block");
        // alert("xxx");

    });
    function fnGetOrderDetail(ORD_ID, ORD_DocNo, DType) {
        var res = [];
        var MyIndexValue = $('#Customer').val();
        // console.log(MyIndexValue);
        if (MyIndexValue !== "") {
            res = MyIndexValue.split("|");

        } else { res[0] = "0"; }

        // var CUSCOD = $('#XXcus').val();
        var CUSCOD = res[0];
        var slm = $('#slm').val();


        var _STKCOD = $('#txtSTKCOD').val();

        if (_STKCOD == "ค้นหาสินค้า") {
            _STKCOD = "";

        }

        $.ajax({
            url: '@Url.Action("GetOrderDetail", "Statuslist")',
            data: {
                ORD_ID: ORD_ID
                , ORD_DocNo: ORD_DocNo
                , DType: DType
                , STKCOD: _STKCOD
                , CUSCOD: CUSCOD

            },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                //$("#tblOrderDetail > tbody").html("");
                $('#fixed-table-container-2 tbody:last-child').html("");
                if (data != "") {

                    if (data.Getdata.length != 0) {
                        var SubmithtmlPage = '';
                        for (var i = 0; i < data.Getdata.length; i++) {
                            SubmithtmlPage += '<tr><td align="center">' + data.Getdata[i].val.RowNo + '</td>';
                            SubmithtmlPage += '<td align="left">' + data.Getdata[i].val.VSTKCOD + '</td>';
                            SubmithtmlPage += '<td align="left">' + nl3br(data.Getdata[i].val.VSTKDES) + '</td>';
                            //  SubmithtmlPage += '<td align="left">' + data.Getdata[i].val.Item_Type + '</td>';
                            //  SubmithtmlPage += '<td align="center">' + data.Getdata[i].val.VSTKGRP + '</td>';
                            //  SubmithtmlPage += '<td align="right">' + commaSeparateNumber(data.Getdata[i].val.VPrice) + '</td>';
                            SubmithtmlPage += '<td align="right">' + commaSeparateNumber(data.Getdata[i].val.VSalePrice) + '</td>';
                            // SubmithtmlPage += '<td align="right">' + commaSeparateNumber(data.Getdata[i].val.VDiscount) + '</td>';
                            SubmithtmlPage += '<td align="center">' + data.Getdata[i].val.AmtQty + '</td>';
                            SubmithtmlPage += '<td align="right">' + commaSeparateNumber(data.Getdata[i].val.TotalAmt) + '</td>';
                            //SubmithtmlPage += '<td align="right"><input type="number" class="form-control" value="0" min="0" /></td>';
                            //SubmithtmlPage += '<td align="right">' + data.Getdata[i].val.Prn_ORD + '</td>';
                            SubmithtmlPage += '</tr>';
                            //$('#tblOrderDetail > tbody:last-child').append(SubmithtmlPage);

                        }
                        $('#fixed-table-container-2 tbody:last-child').append(SubmithtmlPage);
                    }
                }
                var fixedTable2 = fixTable(document.getElementById('fixed-table-container-2'));
            }

        });
    }
        $(document).on("click", "#nextsp", function () {
            //_CUSCOD = $('#CUSCOD').val();
            var _CUSCOD;
            var Usertype = usertype;
            if (Usertype != "6") {
                var MyIndexValue = $('#Customer').val();
                //console.log(MyIndexValue);
                if (MyIndexValue !== "") {
                    res = MyIndexValue.split("|");
                    _CUSCOD = res[0];
                } else {

                    _CUSCOD = "";
                }
            } else if (Usertype == "6") {
                _CUSCOD = $('#selcus').val();

            }
            var cusel = _CUSCOD;
            if (cusel == "") {
                window.location.replace("../SeleScrCustomer/dashboard");
            } else {

                window.location.replace("../SeleScrCustomer/dashboard?numcuber=" + btoa(cusel));
            }
        });
        $(document).on("click", "#btnhisto", function () {
            //_CUSCOD = $('#CUSCOD').val();
            var _CUSCOD;
           
            var Usertype = usertype;
            if (Usertype != "6") {
                var MyIndexValue = $('#Customer').val();
                //console.log(MyIndexValue);
                if (MyIndexValue !== "") {
                    res = MyIndexValue.split("|");
                    _CUSCOD = res[0];
                } else {

                    _CUSCOD = "";
                }
            } else if (Usertype == "6") {
                _CUSCOD = $('#selcus').val();

            }
            var cusel = _CUSCOD;
            if (cusel == "") {

                window.location.replace("../Historypurchase/Index");
            } else {

                window.location.replace("../Historypurchase/Index?numcuber=" + btoa(cusel));
            }
        });
        $(document).on("click", "#btnstatus", function () {
            //_CUSCOD = $('#CUSCOD').val();
            var _CUSCOD;
            //var MyIndexValue = $('#Customer').val();
            
            //if (MyIndexValue !== "") {
            //    res = MyIndexValue.split("|");
            //    _CUSCOD = res[0];
            //} else {

            //    _CUSCOD = "";
            //}
            var Usertype = usertype;
            if (Usertype != "6") {
                var MyIndexValue = $('#Customer').val();
                //console.log(MyIndexValue);
                if (MyIndexValue !== "") {
                    res = MyIndexValue.split("|");
                    _CUSCOD = res[0];
                } else {

                    _CUSCOD = "";
                }
            } else if (Usertype == "6") {
                _CUSCOD = $('#selcus').val();

            }
            var cusel = _CUSCOD;
            if (cusel == "") {
                window.location.replace("../Statuslist/Index");
            } else {

                window.location.replace("../Statuslist/Index?numcuber=" + btoa(cusel));
            }
        });
        $(document).on("click", "#navbarhome", function () {
            //_CUSCOD = $('#CUSCOD').val();
            var Usertype = usertype;
            var _CUSCOD;
            if (Usertype != "6") {
                var MyIndexValue = $('#Customer').val();
                //console.log(MyIndexValue);
                if (MyIndexValue !== "") {
                    res = MyIndexValue.split("|");
                    _CUSCOD = res[0];
                } else {

                    _CUSCOD = "";
                }
            } else if (Usertype == "6") {
                _CUSCOD = $('#selcus').val();

            }
            var cusel = _CUSCOD;
            if (cusel == "") {
                window.location.replace("../Account/Login");
            } else {

                window.location.replace("../Orderlist/Index?numcuber=" + btoa(cusel));
            }
        });
        $(document).on("click", "#navbarshowdetail", function () {
            //_CUSCOD = $('#CUSCOD').val();
            var Usertype = usertype;
            var _CUSCOD;
            if (Usertype != "6") {
                var MyIndexValue = $('#Customer').val();
                //console.log(MyIndexValue);
                if (MyIndexValue !== "") {
                    res = MyIndexValue.split("|");
                    _CUSCOD = res[0];
                } else {

                    _CUSCOD = "";
                }
            } else if (Usertype == "6") {
                _CUSCOD = $('#selcus').val();

            }
            var cusel = _CUSCOD;
            if (cusel == "") {
                window.location.replace("../Account/Login");
            } else {

                window.location.replace("../Cart/Index?numcuber=" + btoa(cusel));
            }
        });
        $(document).on("click", "#navbarsselecus", function () {
            //_CUSCOD = $('#CUSCOD').val();
            var Usertype = usertype;
            var _CUSCOD;
            if (Usertype != "6") {
                var MyIndexValue = $('#Customer').val();
                //console.log(MyIndexValue);
                if (MyIndexValue !== "") {
                    res = MyIndexValue.split("|");
                    _CUSCOD = res[0];
                } else {

                    _CUSCOD = "";
                }
            } else if (Usertype == "6") {
                _CUSCOD = $('#selcus').val();

            }

            var cusel = _CUSCOD;
            if (cusel == "") {
                window.location.replace("../Account/Login");
            } else {

                window.location.replace("../SeleScrCustomer/dashboard?numcuber=" + btoa(cusel));
            }
        });
        $(document).on("click", "#btnstatement", function () {
            var Usertype = usertype;
            var _CUSCOD;
            if (Usertype != "6") {
                var MyIndexValue = $('#Customer').val();
                //console.log(MyIndexValue);
                if (MyIndexValue !== "") {
                    res = MyIndexValue.split("|");
                    _CUSCOD = res[0];
                } else {

                    _CUSCOD = "";
                }
            } else if (Usertype == "6") {
                _CUSCOD = $('#selcus').val();

            }
            var cusel = _CUSCOD;
            if (cusel == "") {
                window.location.replace("../SelectPrintStatement/Index");
            } else {

                window.location.replace("../SelectPrintStatement/Index?numcuber=" + btoa(cusel));
            }
        });

        $(document).on("click", "#btnexpdf", function () {
            // $(document).delegate('#btnexpdf', 'click', function () {
            //alert(usertype)
            var res = [];
            //var MyIndexValue = $('#Customer').val();
           
            //if (MyIndexValue !== "") {
            //    res = MyIndexValue.split("|");

            //} else { res[0] = "0"; }
            var Usertype = usertype;
            if (Usertype != "6") {
                var MyIndexValue = $('#Customer').val();
                //console.log(MyIndexValue);
                if (MyIndexValue !== "") {
                    res = MyIndexValue.split("|");

                } else { res[0] = "0"; }
            } else if (Usertype == "6") {
                res[0] = $('#selcus').val();

            }

            var StockCode = $('#txtSTKCOD').val();
            var split_StockCode = StockCode.split('|');
            var cus = res[0];
            var STKCOD = split_StockCode[0];
            var StartDate = $('#txtSOStartDate').val();
            var EndDate = $('#txtSOEndDate').val();
            var Slm = "";
            Slm = $('#Slm').val();
            if (Slm == "ALL") {
                Slm = "0";
            } else {
                Slm = $('#Slm').val();
            }
            var UserCreate = userid;
            var typeUser = usertype;
            $("#salehis").css('display', 'block');
            $("#ordercur").css("display", "none");
            if (cus == '0') {
                cus = "";
            }
            if (STKCOD == 'ค้นหาสินค้า') {
                STKCOD = "";
            }
            if (StartDate == '') {
                StartDate = null;
            }
            if (EndDate == '') {
                EndDate = null;
            }
            // console.log(EndDate);
            if (cus == "" && STKCOD == "" && StartDate == null && EndDate == null) {
                $("#textAlertWarning").empty();
                $("#textAlertWarning").text("กรุณาเลือก ข้อมูลในการค้นหา");
                $("#myModalWarning").modal(); return false;
            }
            var url = '@Url.Action("Order_History")';
            $.get(url, {

                cus: cus,
                STKCOD: STKCOD,
                StartDate: StartDate,
                EndDate: EndDate,
                Slm: Slm,
                UserCreate: UserCreate,
                typeUser: typeUser

            }, 
            function (result) {
            //debugger;
            $('#EmployeeViewGrid').html(result);
        });
        // window.open("../Report/CustomerDetailItem.aspx?str=" + cus + "-" + STKCOD + "-" + StartDate + "-" + EndDate);

        // return false;

    });
    </script>
</body>
</html>
