@{
    Layout = "~/Views/Shared/layout_view.cshtml";
    //Layout = "~/Views/Shared/layout_view.cshtml";
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>New+Shop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link href="~/features/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/features/css/heroic-features.css" rel="stylesheet" />
    <style>
        .product-categories-menu ul li {
            display: none;
        }
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }
        .card-deck {
            display: flex;
            flex-flow: row wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
    </style>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Body main wrapper start -->
    <div class="wrapper">

        <!--== Search Product Area Start ==-->
        <div>
            <div class="container">

                <div class="row">

                    <div class="container">
                        <div class="row searchFilter table-content table-responsive">
                            <div class="col-sm-12">

                                <div class="input-group">

                                    <div class="input-group-btn">


                                        <select class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="productgroup" style="width: 150px;">
                                            <option selected value=""> Product Group</option>
                                        </select>
                                        <select class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="productline" style="width: 150px;">
                                            <option selected value=""> Product Line</option>
                                        </select>

                                    </div>

                                </div>
                            </div>
                            <div class="only-banner ptb--20 bg__white">
                            </div>
                            <div class="col-sm-12">
                                <input id="textfree" type="text" class="form-control" aria-label="Text input with segmented button dropdown">
                                <div class="input-group">

                                    <div class="input-group-btn">

                                        <select class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="maker" style="width: 120px;">
                                            <option selected value="">Maker</option>

                                        </select>
                                        <select class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="Model" style="width: 120px;">
                                            <option selected value="">Model</option>

                                        </select>
                                        <select class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="submodel" style="width: 120px;">
                                            <option selected value="">Submodel</option>

                                        </select>
                                        <select class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="brand" style="width: 120px;">
                                            <option selected value="">Brand</option>

                                        </select>

                                        <select class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="company" style="width: 70px;">

                                            <option value="TAC">TAC</option>
                                            <option value="AAC">AAC</option>
                                        </select>
                                        <select class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="catalogue" style="width: 100px;">
                                            <option selected value=""> Catalogue</option>
                                        </select>
                                        <button id="searchpro" type="button" class="btn btn-secondary btn-search"><span class="glyphicon glyphicon-search">&nbsp;</span> <span class="label-icon">Search</span></button>
                                    </div>
                                  
                                </div>
                            </div>
                            <div class="only-banner ptb--40 bg__white">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="only-banner ptb--40 bg__white"></div>
    
    <!-- End Search Product Area  -->
    <!-- Start BLog Area -->
    <!-- End BLog Area -->
    <!-- Start Our Product Area -->
    <!-- <section>
        <div class="container">
            <div class="htc__product__container">
                <div class="only-banner ptb--100 bg__white">
                    <section class="htc__product__area bg__white">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="product-categories-all">
                                        <div class="product-categories-title">
                                            <h3>Braking System</h3>
                                        </div>
                                        <div class="product-categories-menu">
                                            <ul>
                                                <li><a href="#">Brake Booster</a></li>
                                                <li><a href="#">Brake Calipers</a></li>
                                                <li><a href="#">Brake Fluid</a></li>
                                                <li><a href="#">Beads Jewelry</a></li>
                                                <li><a href="#">Brake Fluid Reservoir</a></li>
                                                <li><a href="#">Brake Hoses</a></li>

                                            </ul>
                                            <a href="#" id="loadMore">Load More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-categories-all">
                                        <div class="product-categories-title">
                                            <h3>Accessories</h3>
                                        </div>
                                        <div class="product-categories-menu">
                                            <ul>
                                                <li><a href="#">Armrest</a></li>
                                                <li><a href="#">Boot/Cargo Area</a></li>
                                                <li><a href="#">Car Cover</a></li>
                                                <li><a href="#">Cigarette Lighter</a></li>
                                                <li><a href="#">Emergency Triangle</a></li>
                                                <li><a href="#">Floor Mats</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-categories-all">
                                        <div class="product-categories-title">
                                            <h3>Accessories</h3>
                                        </div>
                                        <div class="product-categories-menu">
                                            <ul>
                                                <li><a href="#">Armrest</a></li>
                                                <li><a href="#">Boot/Cargo Area</a></li>
                                                <li><a href="#">Car Cover</a></li>
                                                <li><a href="#">Cigarette Lighter</a></li>
                                                <li><a href="#">Emergency Triangle</a></li>
                                                <li><a href="#">Floor Mats</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-categories-all">
                                        <div class="product-categories-title">
                                            <h3>Accessories</h3>
                                        </div>
                                        <div class="product-categories-menu">
                                            <ul>
                                                <li><a href="#">Armrest</a></li>
                                                <li><a href="#">Boot/Cargo Area</a></li>
                                                <li><a href="#">Car Cover</a></li>
                                                <li><a href="#">Cigarette Lighter</a></li>
                                                <li><a href="#">Emergency Triangle</a></li>
                                                <li><a href="#">Floor Mats</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </section>-->

    <section>
        <div class="container">
            <div class="htc__product__container">

                <div class="row">
                    <div class="product__list another-product-style">
                        <div class="loader" style="display:none"></div>
                        <!-- Page Features -->
                        <div class="row text-center">
                            <div id="fixbox" >

                            </div>

                        </div>
                        <!-- /.row -->
                        @*<div class="table-content table-responsive" >
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">Image</th>
                                            <th class="product-name">Product</th>
                                            <th class="product-price">Description</th>
                                            <th class="product-quantity">Price</th>
                                            <th class="product-subtotal">Total</th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>*@
                        @*<div class="table-content table-responsive" id="fixed-table-container-5" style="display:none">
                                <table id="shipping">
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">Image</th>
                                            <th class="product-name">Product</th>
                                            <th class="product-price">Description</th>
                                            <th class="product-quantity">Price</th>


                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>*@
                    </div>

                </div>

                <!-- End Load More BTn -->
            </div>
            <div class="row mt--60" style="display:none">
                <input type="button" id="previous" value="Previous" />
                <input type="button" id="next" value="Next" />

            </div>
        </div>
    </section>
    <!-- End Our Product Area -->
    <!-- Start Footer Area -->
    <!--== SlideshowBg Area End ==-->
   
    <div class="body__overlay">

    </div>

    <!-- Start Offset Wrapper -->
    <div class="offset__wrapper">
        <!-- Start Search Popap -->
        <div class="search__area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search__inner">
                            <form action="#" method="get">
                                <input placeholder="Search here... " type="text" id="textfreehear">
                                <button type="button" id="submithear"></button>
                            </form>
                            <div class="search__close__btn">
                                <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search Popap -->
        <!-- Start Offset MEnu -->
        <div class="offsetmenu">
            <div class="offsetmenu__inner">
                <div class="offsetmenu__close__btn">
                    <a href="#"><i class="zmdi zmdi-close"></i></a>
                </div>
                <div class="off__contact">
                    <div class="logo">
                        <a href="index.html">
                            <img src="images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetu adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                </div>
                <ul class="sidebar__thumd">
                    <li><a href="#"><img src="images/sidebar-img/1.jpg" alt="sidebar images"></a></li>
                    <li><a href="#"><img src="images/sidebar-img/2.jpg" alt="sidebar images"></a></li>
                    <li><a href="#"><img src="images/sidebar-img/3.jpg" alt="sidebar images"></a></li>
                    <li><a href="#"><img src="images/sidebar-img/4.jpg" alt="sidebar images"></a></li>
                    <li><a href="#"><img src="images/sidebar-img/5.jpg" alt="sidebar images"></a></li>
                    <li><a href="#"><img src="images/sidebar-img/6.jpg" alt="sidebar images"></a></li>
                    <li><a href="#"><img src="images/sidebar-img/7.jpg" alt="sidebar images"></a></li>
                    <li><a href="#"><img src="images/sidebar-img/8.jpg" alt="sidebar images"></a></li>
                </ul>
                <div class="offset__widget">
                    <div class="offset__single">
                        <h4 class="offset__title">Language</h4>
                        <ul>
                            <li><a href="#"> Engish </a></li>
                            <li><a href="#"> French </a></li>
                            <li><a href="#"> German </a></li>
                        </ul>
                    </div>
                    <div class="offset__single">
                        <h4 class="offset__title">Currencies</h4>
                        <ul>
                            <li><a href="#"> USD : Dollar </a></li>
                            <li><a href="#"> EUR : Euro </a></li>
                            <li><a href="#"> POU : Pound </a></li>
                        </ul>
                    </div>
                </div>
                <div class="offset__sosial__share">
                    <h4 class="offset__title">Follow Us On Social</h4>
                    <ul class="off__soaial__link">
                        <li><a class="bg--twitter" href="#" title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>

                        <li><a class="bg--instagram" href="#" title="Instagram"><i class="zmdi zmdi-instagram"></i></a></li>
                        <li><a class="bg--facebook" href="#" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a class="bg--googleplus" href="#" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a></li>
                        <li><a class="bg--google" href="#" title="Google"><i class="zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Offset MEnu -->
        <!-- Start Cart Panel -->
        <div class="shopping__cart">
            <div class="shopping__cart__inner">
                <div class="offsetmenu__close__btn">
                    <a href="#"><i class="zmdi zmdi-close"></i></a>
                </div>
                <div class="shp__cart__wrap">
                    <div class="shp__single__product">
                        <div class="shp__pro__thumb">
                            <a href="#">
                                <img src="images/product/sm-img/1.jpg" alt="product images">
                            </a>
                        </div>
                        <div class="shp__pro__details">
                            <h2><a href="product-details.html">BO&Play Wireless Speaker</a></h2>
                            <span class="quantity">QTY: 1</span>
                            <span class="shp__price">$105.00</span>
                        </div>
                        <div class="remove__btn">
                            <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                        </div>
                    </div>
                    <div class="shp__single__product">
                        <div class="shp__pro__thumb">
                            <a href="#">
                                <img src="images/product/sm-img/2.jpg" alt="product images">
                            </a>
                        </div>
                        <div class="shp__pro__details">
                            <h2><a href="product-details.html">Brone Candle</a></h2>
                            <span class="quantity">QTY: 1</span>
                            <span class="shp__price">$25.00</span>
                        </div>
                        <div class="remove__btn">
                            <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="shoping__total">
                    <li class="subtotal">Subtotal:</li>
                    <li class="total__price">$130.00</li>
                </ul>
                <ul class="shopping__btn">
                    <li><a href="cart.html">View Cart</a></li>
                    <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
                </ul>
            </div>
        </div>
        <!-- End Cart Panel -->
    </div>
    <!-- End Offset Wrapper -->
    <!-- Start Our Product Area -->
    <!-- End Our Product Area -->
    <!-- Start Our Product Area -->
    <!-- End Our Product Area -->
    <!-- Start Blog Area -->
    @*<section class="htc__blog__area bg__white pb--130">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section__title section__title--2 text-center">
                            <h2 class="title__line">Latest News</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="blog__wrap clearfix mt--60 xmt-30">
                        <!-- Start Single Blog -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="blog foo">
                                <div class="blog__inner">
                                    <div class="blog__thumb">
                                        <a href="blog-details.html">
                                            <img src="images/blog/blog-img/1.jpg" alt="blog images">
                                        </a>
                                        <div class="blog__post__time">
                                            <div class="post__time--inner">
                                                <span class="date">14</span>
                                                <span class="month">sep</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog__hover__info">
                                        <div class="blog__hover__action">
                                            <p class="blog__des"><a href="blog-details.html">Lorem ipsum dolor sit consectetu.</a></p>
                                            <ul class="bl__meta">
                                                <li>By :<a href="#">Admin</a></li>
                                                <li>Product</li>
                                            </ul>
                                            <div class="blog__btn">
                                                <a class="read__more__btn" href="blog-details.html">read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Blog -->
                        <!-- Start Single Blog -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="blog foo">
                                <div class="blog__inner">
                                    <div class="blog__thumb">
                                        <a href="blog-details.html">
                                            <img src="images/blog/blog-img/2.jpg" alt="blog images">
                                        </a>
                                        <div class="blog__post__time">
                                            <div class="post__time--inner">
                                                <span class="date">14</span>
                                                <span class="month">sep</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog__hover__info">
                                        <div class="blog__hover__action">
                                            <p class="blog__des"><a href="blog-details.html">Lorem ipsum dolor sit consectetu.</a></p>
                                            <ul class="bl__meta">
                                                <li>By :<a href="#">Admin</a></li>
                                                <li>Product</li>
                                            </ul>
                                            <div class="blog__btn">
                                                <a class="read__more__btn" href="blog-details.html">read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Blog -->
                        <!-- Start Single Blog -->
                        <div class="col-md-4 col-lg-4 hidden-sm col-xs-12">
                            <div class="blog foo">
                                <div class="blog__inner">
                                    <div class="blog__thumb">
                                        <a href="blog-details.html">
                                            <img src="images/blog/blog-img/3.jpg" alt="blog images">
                                        </a>
                                        <div class="blog__post__time">
                                            <div class="post__time--inner">
                                                <span class="date">14</span>
                                                <span class="month">sep</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog__hover__info">
                                        <div class="blog__hover__action">
                                            <p class="blog__des"><a href="blog-details.html">Lorem ipsum dolor sit consectetu.</a></p>
                                            <ul class="bl__meta">
                                                <li>By :<a href="#">Admin</a></li>
                                                <li>Product</li>
                                            </ul>
                                            <div id="loadMore" style="">
                                                <a href="#">Load More</a>
                                            </div>
                                            <!--<div class="blog__btn">
                                                <a class="read__more__btn" href="blog-details.html">read more</a>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Blog -->
                    </div>
                </div>
            </div>
        </section>*@
    <!-- End Blog Area -->
    <!-- Start Footer Area -->
    <footer class="htc__foooter__area gray-bg">
       
    </footer>
    @*<footer class="htc__foooter__area gray-bg">
            <div class="container">
                <div class="row">
                    <div class="footer__container clearfix">
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-lg-3 col-sm-6">
                            <div class="ft__widget">
                                <div class="ft__logo">
                                    <a href="index.html">
                                        <img src="images/logo/logo.png" alt="footer logo">
                                    </a>
                                </div>
                                <div class="footer-address">
                                    <ul>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-pin"></i>
                                            </div>
                                            <div class="address-text">
                                                <p>194 Main Rd T, FS Rayed <br> VIC 3057, USA</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-email"></i>
                                            </div>
                                            <div class="address-text">
                                                <a href="#"> info@example.com</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-phone-in-talk"></i>
                                            </div>
                                            <div class="address-text">
                                                <p>+012 345 678 102 </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="social__icon">
                                    <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-lg-2 col-sm-6 smt-30 xmt-30">
                            <div class="ft__widget">
                                <h2 class="ft__title">Categories</h2>
                                <ul class="footer-categories">
                                    <li><a href="shop-sidebar.html">Men</a></li>
                                    <li><a href="shop-sidebar.html">Women</a></li>
                                    <li><a href="shop-sidebar.html">Accessories</a></li>
                                    <li><a href="shop-sidebar.html">Shoes</a></li>
                                    <li><a href="shop-sidebar.html">Dress</a></li>
                                    <li><a href="shop-sidebar.html">Denim</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-lg-2 col-sm-6 smt-30 xmt-30">
                            <div class="ft__widget">
                                <h2 class="ft__title">Infomation</h2>
                                <ul class="footer-categories">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Returns & Exchanges</a></li>
                                    <li><a href="#">Shipping & Delivery</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-lg-3 col-lg-offset-1 col-sm-6 smt-30 xmt-30">
                            <div class="ft__widget">
                                <h2 class="ft__title">Newsletter</h2>
                                <div class="newsletter__form">
                                    <p>Subscribe to our newsletter and get 10% off your first purchase .</p>
                                    <div class="input__box">
                                        <div id="mc_embed_signup">
                                            <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                                <div id="mc_embed_signup_scroll" class="htc__news__inner">
                                                    <div class="news__input">
                                                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                                                    </div>
                                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                                    <div class="clearfix subscribe__btn">
                                                        <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="bst__btn btn--white__color">

                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                    </div>
                </div>
                <!-- Start Copyright Area -->
                <div class="htc__copyright__area">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="copyright__inner">
                                <div class="copyright">
                                    <p>
                                        © 2017 <a href="https://freethemescloud.com/">Free themes Cloud</a>
                                        All Right Reserved.
                                    </p>
                                </div>
                                <ul class="footer__menu">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop.html">Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Copyright Area -->
            </div>
        </footer>*@
    <!-- End Footer Area -->
    <!-- Body main wrapper end -->
    <!-- QUICKVIEW PRODUCT -->
    @*<div id="quickview-wrapper">
            <!-- Modal -->
            <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal__container" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-product">
                                <!-- Start product images -->
                                <div class="product-images">
                                    <div class="main-image images">
                                        <img alt="big images" src="images/product/big-img/1.jpg">
                                    </div>
                                </div>
                                <!-- end product images -->
                                <div class="product-info">
                                    <h1>Simple Fabric Bags</h1>
                                    <div class="rating__and__review">
                                        <ul class="rating">
                                            <li><span class="ti-star"></span></li>
                                            <li><span class="ti-star"></span></li>
                                            <li><span class="ti-star"></span></li>
                                            <li><span class="ti-star"></span></li>
                                            <li><span class="ti-star"></span></li>
                                        </ul>
                                        <div class="review">
                                            <a href="#">4 customer reviews</a>
                                        </div>
                                    </div>
                                    <div class="price-box-3">
                                        <div class="s-price-box">
                                            <span class="new-price">$17.20</span>
                                            <span class="old-price">$45.00</span>
                                        </div>
                                    </div>
                                    <div class="quick-desc">
                                        Designed for simplicity and made from high quality materials. Its sleek geometry and material combinations creates a modern look.
                                    </div>
                                    <div class="select__color">
                                        <h2>Select color</h2>
                                        <ul class="color__list">
                                            <li class="red"><a title="Red" href="#">Red</a></li>
                                            <li class="gold"><a title="Gold" href="#">Gold</a></li>
                                            <li class="orange"><a title="Orange" href="#">Orange</a></li>
                                            <li class="orange"><a title="Orange" href="#">Orange</a></li>
                                        </ul>
                                    </div>
                                    <div class="select__size">
                                        <h2>Select size</h2>
                                        <ul class="color__list">
                                            <li class="l__size"><a title="L" href="#">L</a></li>
                                            <li class="m__size"><a title="M" href="#">M</a></li>
                                            <li class="s__size"><a title="S" href="#">S</a></li>
                                            <li class="xl__size"><a title="XL" href="#">XL</a></li>
                                            <li class="xxl__size"><a title="XXL" href="#">XXL</a></li>
                                        </ul>
                                    </div>
                                    <div class="social-sharing">
                                        <div class="widget widget_socialsharing_widget">
                                            <h3 class="widget-title-modal">Share this product</h3>
                                            <ul class="social-icons">
                                                <li><a target="_blank" title="rss" href="#" class="rss social-icon"><i class="zmdi zmdi-rss"></i></a></li>
                                                <li><a target="_blank" title="Linkedin" href="#" class="linkedin social-icon"><i class="zmdi zmdi-linkedin"></i></a></li>
                                                <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="zmdi zmdi-pinterest"></i></a></li>
                                                <li><a target="_blank" title="Tumblr" href="#" class="tumblr social-icon"><i class="zmdi zmdi-tumblr"></i></a></li>
                                                <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="zmdi zmdi-pinterest"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="addtocart-btn">
                                        <a href="#">Add to cart</a>
                                    </div>
                                </div><!-- .product-info -->
                            </div><!-- .modal-product -->
                        </div><!-- .modal-body -->
                    </div><!-- .modal-content -->
                </div><!-- .modal-dialog -->
            </div>
            <!-- END Modal -->
        </div>*@
    <!-- END QUICKVIEW PRODUCT -->
    <!-- Placed js at the end of the document so the pages load faster -->

    <link href="~/tmartcss/JSautocomplete/jquery-ui.css" rel="stylesheet" />
    <script src="~/tmartcss/JSautocomplete/jquery-ui-1.9.2.js"></script>
    <script type="text/javascript">



        $.ajax({
            url: '@Url.Action("Getdate", "DataCenter")',
            data: {
                Name: 'Maker',
                sty: '0'
            },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                console.log(data)
                var select = $("#maker");
                select.children().remove();
                select.append($("<option>").val("").text("Maker"));
                $(data).each(function (index, item) {

                    select.append($("<option custyp=" + item.Code + ">").val(item.Code).text(item.Description));

                });
                //  var CUSCODt = $("#CUSCOD option:selected").text();
            }
        });
       
        //var select = $("#submodel");
        //select.children().remove();
        //select.append($("<option>").val("").text("ALL"));
        $(function () {
            $(".product-categories-menu ul li").slice(0, 2).show(); // select the first ten
            $("#loadMore").click(function (e) { // click event for load more
                e.preventDefault();
                $(".product-categories-menu ul li:hidden").slice(0, 4).show(); // select next 10 hidden divs and show them
                if ($(".product-categories-menu ul li:hidden").length == 0) { // check if any hidden divs still exist
                    alert("No more loadMore"); // alert if there are none left
                }
            });
        });


        $("#maker").change(function () {
            var _var = $(this).val();

            var select = $("#submodel");
            select.children().remove();
            $.ajax({
                url: '@Url.Action("GetdateRelation", "DataCenter")',
                data: {
                    Name: _var,
                    sty: '1'
                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    console.log(data)
                    $("#submodel").append($("<option>").val("").text("submodel"));

                    var select = $("#Model");
                    select.children().remove();
                    select.append($("<option>").val("").text("Model"));
                    $(data).each(function (index, item) {

                        select.append($("<option custyp=" + item.Code + ">").val(item.Code).text(item.Description));

                    });
                }
            });
        });
        $("#Model").change(function () {
            var _var = $(this).val();
            $.ajax({
                url: '@Url.Action("GetdateRelation", "DataCenter")',
                data: {
                    Name: _var,
                    sty: '2'
                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    console.log(data)
                    var select = $("#submodel");
                    select.children().remove();
                    select.append($("<option>").val("").text("Submodel"));
                    $(data).each(function (index, item) {

                        select.append($("<option custyp=" + item.Code + ">").val(item.Code).text(item.Type));

                    });
                }
            });
        });
        var _var = $("#company").val();
        $.ajax({
            url: '@Url.Action("GetdateStkgrp", "DataCenter")',
            data: {
                Name: _var
            },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                console.log(data)
                var select = $("#catalogue");
                select.children().remove();
                select.append($("<option>").val("").text("Group"));
                $(data).each(function (index, item) {

                    select.append($("<option custyp=" + item.STKGRP + ">").val(item.STKGRP).text(item.STKGRP + '/' + item.GRPNAM));

                });
            }
        });
        $.ajax({
            url: '@Url.Action("GetCatProductGroup", "DataCenter")',
            data: {
                com: _var
             
            },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                console.log(data)
                var select = $("#productgroup");
                select.children().remove();
                select.append($("<option>").val("").text("Product Group"));
                $(data).each(function (index, item) {

                    select.append($("<option custyp=" + item.ProductGroup + ">").val(item.ProductGroup).text(item.ProductGroup));

                });
                //  var CUSCODt = $("#CUSCOD option:selected").text();
            }
        });
       
        $.ajax({
            url: '@Url.Action("GetBrand", "DataCenter")',
            data: {
                Name: _var
            },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                console.log(data)
                var select = $("#brand");
                select.children().remove();
                select.append($("<option>").val("").text("Brand"));
                $(data).each(function (index, item) {

                    select.append($("<option custyp=" + item.CODE + ">").val(item.CODE).text(item.CODE));

                });
            }
        });
        $("#productgroup").change(function () {
            var _progroup = $(this).val();
            var _var = $("#company").val();

            $.ajax({
                url: '@Url.Action("GetCatProductGroupline", "DataCenter")',
                data: {
                    com: _var,
                    progroup:_progroup
                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    console.log(data)
                    var select = $("#productline");
                    select.children().remove();
                    select.append($("<option>").val("").text("Product Line"));
                    $(data).each(function (index, item) {

                        select.append($("<option custyp=" + item.ProductLine + ">").val(item.ProductLine).text(item.ProductLine));

                    });
                    //  var CUSCODt = $("#CUSCOD option:selected").text();
                }
            });
        });
        $("#company").change(function () {
            var _var = $(this).val();
            $.ajax({
                url: '@Url.Action("GetdateStkgrp", "DataCenter")',
                data: {
                    Name: _var
                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    console.log(data)
                    var select = $("#catalogue");
                    select.children().remove();
                    select.append($("<option>").val("").text("Grop"));
                    $(data).each(function (index, item) {

                        select.append($("<option custyp=" + item.STKGRP + ">").val(item.STKGRP).text(item.STKGRP + '/' + item.GRPNAM));

                    });
                }
            });
            $.ajax({
                url: '@Url.Action("GetBrand", "DataCenter")',
                data: {
                    Name: _var
                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    console.log(data)
                    var select = $("#brand");
                    select.children().remove();
                    select.append($("<option>").val("").text("Brand"));
                    $(data).each(function (index, item) {

                        select.append($("<option custyp=" + item.CODE + ">").val(item.CODE).text(item.CODE));

                    });
                }
            });
        });
        function splitval(_val) {
            var _splito = "";
            _splito = _val.split('|');

            return _splito[0];
        }
        function splitval2(_val) {
            var _splito = "";
            _splito = _val.split('|');

            return _splito[1];
        }
        function commaSeparateNumber(val) {
            while (/(\d+)(\d{3})/.test(val.toString())) {
                val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
            }
            return val;
        }
        $(function () {
            var employees = null;
            var page = 1;
            var pageSize = 50;
            var ItemNo = null;
            var Supdescri = null;
            var Price = null;
            var Company = null;
            var Available_Stock = null;
            var Stravailable_Stock = null;
            $("#submithear").click(function () {
                var _maker = $("#maker").val();
                var _Model = $("#Model").val();
                var _submodel = $("#submodel").val();
                var _company = $("#company").val();
                var _catalogue = $("#catalogue").val();
                var _brand = $("#brand").val();
                var productgroup = $("#productgroup").val();
                var productline = $("#productline").val();
                var _textfree = $("#textfreehear").val();
                _textfree = splitval(_textfree);
                // $('#fixbox').empty();
                $("#scrollUp").trigger("click");
                $('.loader').css("display", "block");
                $.ajax({
                    url: '@Url.Action("Getdataitemdetail", "Home")',
                    data: {
                        maker: _maker,
                        modelno: _Model,
                        submodel: _submodel,
                        company: _company,
                        catalogue: _catalogue,
                        brand: _brand,
                        textfree: _textfree,
                        cuscod: "",
                        yrStart: "",
                        yrEnd: "",
                        itemno: "",
                        engine: "",
                        productgroup: productgroup,
                        productline: productline
                    },
                    type: "POST",
                    dataType: "JSON",
                    success: function (data) {
                        console.log(data);
                        employees = data;
                        $('#fixbox').empty();
                        if (employees.length > 0) {
                            // $('#fixed-table-container-5').css("display", "block");
                            //  $('#fixed-table-container-5 tbody:last-child').html("");
                            $('.loader').css("display", "none");
                            var SubmithtmlPage = "";
                            for (var i = 0; i < employees.length; i++) {
                                ItemNo = employees[i].ItemNo;
                                Supdescri = splitval2(employees[i].Description).substr(0, 50);
                                Price = employees[i].Price;
                                Company = employees[i].Company;
                                Available_Stock = employees[i].Available_Stock;
                                if (Available_Stock != "Y") {
                                    Stravailable_Stock = "Sold out"
                                    Stravailable_Stock = "";
                                } else { Stravailable_Stock = "" }

                                $("#fixbox").append("<div class='col-md-4'><div class='card h-100'><img class='card-img-top' src='http://placehold.it/500x325' alt=''> <div class='card-body'><h4 class='card-title' >" + ItemNo + "</h4> <p class='card-text' style='height: 30px;'>" + Supdescri + "</p>  </div> <div class='card-footer'><p>" + commaSeparateNumber(Price) + " THB</p>" + Stravailable_Stock + "</p><p>" + Stravailable_Stock + "<p/><a href='#' class='btn btn-primary' id='_btnlinkdetail' com=" + Company + " stock='" + ItemNo + "'>See Detail</a> </div> </div> </div>");

                                // $("#fixbox").append("<div class='col-md-3' style='border: 1px solid;padding: 10px;box-shadow: 5px 10px #88888845;'><div class='form-group'><h1><p2 class='section-title-2' style='cursor: pointer;' id='_btnlinkdetail' com=" + Company + ">" + ItemNo + "</p2></h1><p>Description:" + Supdescri + "</p><ul class='pro__dtl__prize'><liclass='new__price' style='color: darkgreen;'>" + Price + " THB</li> <li>" + Stravailable_Stock + "</li></ul></div></div>");


                            }
                            $('#fixed-table-container-5  tbody:last-child').append(SubmithtmlPage);
                        } else {
                            $('.loader').css("display", "none");
                            $('#fixbox').empty();
                            alert("No Data.....")

                        }
                    }
                });

            });
            $("#searchpro").click(function () {
                var _maker = $("#maker").val();
                var _Model = $("#Model").val();
                var _submodel = $("#submodel").val();
                var _company = $("#company").val();
                var _catalogue = $("#catalogue").val();
                var _brand = $("#brand").val();
                //var _brand = "";
                var productgroup = $("#productgroup").val();
                var productline = $("#productline").val();
                var _textfree = $("#textfree").val();
                _textfree = splitval(_textfree);
                // $('#fixbox').empty();
                $("#scrollUp").trigger("click");
                $('.loader').css("display", "block");
                $.ajax({
                    url: '@Url.Action("Getdataitemdetail", "Home")',
                    data: {
                        maker: _maker,
                        modelno: _Model,
                        submodel: _submodel,
                        company: _company,
                        catalogue: _catalogue,
                        brand: _brand,
                        textfree: _textfree,
                        cuscod: "",
                        yrStart: "",
                        yrEnd: "",
                        itemno: "",
                        engine: "",
                        productgroup: productgroup,
                        productline: productline
                    },
                    type: "POST",
                    dataType: "JSON",
                    success: function (data) {
                        console.log(data);
                        employees = data;
                        $('#fixbox').empty();
                        if (employees.length > 0) {
                            // $('#fixed-table-container-5').css("display", "block");
                            //  $('#fixed-table-container-5 tbody:last-child').html("");
                            $('.loader').css("display", "none");
                            var SubmithtmlPage = "";
                            for (var i = 0; i < employees.length; i++) {
                                ItemNo = employees[i].ItemNo;
                                Supdescri = splitval2(employees[i].Description).substr(0, 50);
                                Price = employees[i].Price;
                                Company = employees[i].Company;
                                Available_Stock = employees[i].Available_Stock;
                                if (Available_Stock != "Y") {
                                    Stravailable_Stock = "Sold out"
                                    Stravailable_Stock = "";
                                } else { Stravailable_Stock = "" }

                                $("#fixbox").append("<div class='col-md-4'><div class='card h-100'><img class='card-img-top' src='http://placehold.it/500x325' alt=''> <div class='card-body'><h4 class='card-title' >" + ItemNo + "</h4> <p class='card-text' style='height: 30px;'>" + Supdescri + "</p>  </div> <div class='card-footer'><p>" + commaSeparateNumber(Price) + " THB</p>" + Stravailable_Stock + "</p><p>" + Stravailable_Stock + "<p/><a href='#' class='btn btn-primary' id='_btnlinkdetail' com=" + Company + " stock='" + ItemNo + "'>See Detail</a> </div> </div> </div>");
                                //$('#fixbox').append("<div class='container'><div class='card-deck'><div class='card mb-2'><img class='card-img-top img-fluid' src='//placehold.it/500x180' alt='Card image cap'><div class='card-body'><h4 class='card-title'>" + ItemNo + "</h4><p class='card-text'>" + Supdescri + "</p><p class='card-text'><small class='text-muted'>" + commaSeparateNumber(Price) + " THB</small></p></p>" + Stravailable_Stock + "</p><p>" + Stravailable_Stock + "<p/><a href='#' class='btn btn-primary' id='_btnlinkdetail' com=" + Company + " stock='" + ItemNo + "'>See Detail</a> </div></div></div></div>");

                                // $("#fixbox").append("<div class='col-md-3' style='border: 1px solid;padding: 10px;box-shadow: 5px 10px #88888845;'><div class='form-group'><h1><p2 class='section-title-2' style='cursor: pointer;' id='_btnlinkdetail' com=" + Company + ">" + ItemNo + "</p2></h1><p>Description:" + Supdescri + "</p><ul class='pro__dtl__prize'><liclass='new__price' style='color: darkgreen;'>" + Price + " THB</li> <li>" + Stravailable_Stock + "</li></ul></div></div>");


                            }
                            $('#fixed-table-container-5  tbody:last-child').append(SubmithtmlPage);
                        } else {
                            $('.loader').css("display", "none");
                            $('#fixbox').empty();
                            alert("No Data.....")

                        }
                    }
                });

            });
            $("#previous").click(function () {
                if (employees != null && page > 1) {
                    $("#fixbox").empty();

                    for (var i = ((page - 2) * pageSize) ; i < employees.length; i++) {
                        ItemNo = employees[i].ItemNo;
                        Supdescri = splitval2(employees[i].Description);
                        Price = employees[i].Price;
                        Company = employees[i].Company;
                        Available_Stock = employees[i].Available_Stock;
                        if (Available_Stock == "Y") {
                            // Stravailable_Stock = "Sold out"
                            Stravailable_Stock = "";
                        } else { Stravailable_Stock = "" }
                        if (i < ((page - 1) * pageSize)) {
                            $("#fixbox").append("<div class='col-md-3' style='border: 1px solid;padding: 10px;box-shadow: 5px 10px #88888845;'><div class='form-group'><h1><p2 class='section-title-2' style='cursor: pointer;' id='_btnlinkdetail' com=" + Company + ">" + ItemNo + "</p2></h1><p>Description:" + Supdescri + "</p><ul class='pro__dtl__prize'><liclass='new__price' style='color: darkgreen;'>" + Price + " THB</li> <li>" + Stravailable_Stock + "</li></ul></div></div>");
                            //$("#scrollUp").click();
                        }
                    }
                    page--;
                }
            });

            $("#next").click(function () {
                if (employees != null && (page * pageSize) < employees.length) {
                    $("#fixbox").empty();

                    for (var i = 0; i < employees.length; i++) {
                        ItemNo = employees[i].ItemNo;
                        Supdescri = splitval2(employees[i].Description);
                        Price = employees[i].Price;
                        Company = employees[i].Company;
                        Available_Stock = employees[i].Available_Stock;
                        if (Available_Stock == "Y") {
                            // Stravailable_Stock = "Sold out"
                            Stravailable_Stock = "";
                        } else { Stravailable_Stock = "" }
                        if (i >= (page * pageSize) && i < ((page + 1) * pageSize)) {
                            $("#fixbox").append("<div class='col-md-3' style='border: 1px solid;padding: 10px;box-shadow: 5px 10px #88888845;'><div class='form-group'><h1><p2 class='section-title-2' style='cursor: pointer;' id='_btnlinkdetail' com=" + Company + ">" + ItemNo + "</p2></h1><p>Description:" + Supdescri + "</p><ul class='pro__dtl__prize'><liclass='new__price' style='color: darkgreen;'>" + Price + " THB</li> <li>" + Stravailable_Stock + "</li></ul></div></div>");
                            // $("#scrollUp").click();
                        }
                    }
                    page++;

                }
            });

        })
        $(document).on("click", "#_btnlinkdetail", function () {
            //var _vfd = $(this).text();

            var _vcom = $(this).attr('com');
            var _vfd = $(this).attr('stock');
            ///var wi = window.open("../Product_details/frmViewLabel.aspx?ClmNUM=" + btoa(nokey) + "/" + btoa(nosubkey));
            var wi = window.open("../Productdetails/Index?prodenum=" + btoa(_vfd) + "/" + btoa(_vcom));
            wi.focus();
        });
        $("#textfreehear").autocomplete({
            selectFirst: true,
            autoFocus: true,
            timeout: 1000000,

            source: function (request, response) {

                //var param = {
                //    Name: $('#textfree').val(),
                //    Xcus: "",
                //    Xval: "",
                //    //Xcus: $('#XXcus').val(),
                //    //Xval: $('#selval').val(),
                //    XvalCompany: $('#company').val()
                //};
                var param = {
                    maker: $("#maker").val(),
                    modelno: $("#Model").val(),
                    submodel: $("#submodel").val(),
                    company: $("#company").val(),
                    catalogue: $("#catalogue").val(),
                    brand: $("#brand").val(),
                    // brand: "",
                    textfree: $("#textfreehear").val(),
                    cuscod: "",
                    yrStart: "",
                    yrEnd: "",
                    itemno: "",
                    engine: "",
                    productgroup: $("#productgroup").val(),
                    productline: $("#productline").val()
                };
                // $('#fixbox').empty();
                // $('.loader').css("display", "block");
                $.ajax({
                    url: '@Url.Action("GetdateStockCodebyval", "Home")',
                    data: JSON.stringify(param),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        //console.log(data.length
                        //console.log("xxxx:" + data);
                        response($.map(data.slice(0, 50), function (item) {
                            return {
                                value: item
                            }
                        }))
                    },
                    error: function (XMLhttpsRequest, textStatus, errorThrown) {
                        //  alert(textStatus + '&&' + errorThrown + '&&' + XMLhttpsRequest);
                        alert(request.term);
                    }
                });

                @*$.ajax({
                    url: '@Url.Action("GetdateStockCode", "Home")',
                    data: JSON.stringify(param),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        //console.log(data.length
                        //console.log(data);
                        response($.map(data.slice(0, 50), function (item) {
                            return {
                                value: item
                            }
                        }))
                    },
                    error: function (XMLhttpsRequest, textStatus, errorThrown) {
                        //  alert(textStatus + '&&' + errorThrown + '&&' + XMLhttpsRequest);
                        alert(request.term);
                    }
                });*@
            },
            minLength: 2//minLength as 2, it means when ever user enter 2 character in TextBox the AutoComplete method will fire and get its source data.
        });
        $("#textfree").autocomplete({
            selectFirst: true,
            autoFocus: true,
            timeout: 1000000,

            source: function (request, response) {

                //var param = {
                //    Name: $('#textfree').val(),
                //    Xcus: "",
                //    Xval: "",
                //    //Xcus: $('#XXcus').val(),
                //    //Xval: $('#selval').val(),
                //    XvalCompany: $('#company').val()
                //};
                var param = {
                    maker: $("#maker").val(),
                    modelno: $("#Model").val(),
                    submodel: $("#submodel").val(),
                    company: $("#company").val(),
                    catalogue: $("#catalogue").val(),
                    brand: $("#brand").val(),
                    textfree: $("#textfree").val(),
                    cuscod: "",
                    yrStart: "",
                    yrEnd: "",
                    itemno: "",
                    engine: "",
                    productgroup: $("#productgroup").val(),
                    productline: $("#productline").val()
                };
                // $('#fixbox').empty();
                // $('.loader').css("display", "block");
                $.ajax({
                    url: '@Url.Action("GetdateStockCodebyval", "Home")',
                    data: JSON.stringify(param),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        //console.log(data.length
                        console.log("xxxx:" + data);
                        response($.map(data.slice(0, 50), function (item) {
                            return {
                                value: item
                            }
                        }))
                    },
                    error: function (XMLhttpsRequest, textStatus, errorThrown) {
                        //  alert(textStatus + '&&' + errorThrown + '&&' + XMLhttpsRequest);
                        alert(request.term);
                    }
                });

                @*$.ajax({
                            url: '@Url.Action("GetdateStockCode", "Home")',
                            data: JSON.stringify(param),
                            dataType: "json",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            dataFilter: function (data) { return data; },
                            success: function (data) {
                                //console.log(data.length
                                //console.log(data);
                                response($.map(data.slice(0, 50), function (item) {
                                    return {
                                        value: item
                                    }
                                }))
                            },
                            error: function (XMLhttpsRequest, textStatus, errorThrown) {
                                //  alert(textStatus + '&&' + errorThrown + '&&' + XMLhttpsRequest);
                                alert(request.term);
                            }
                        });*@
            },
            minLength: 2//minLength as 2, it means when ever user enter 2 character in TextBox the AutoComplete method will fire and get its source data.
        });
    </script>

</body>



</html>
