@model List<NewShop.Models.BackOrderbyItem>

@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 50, defaultSort: "Status", selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.NextPrevious);

}

<style>
    .totres {
        background-color: cyan;
    }

    .qqqq {
        background-color: greenyellow;
    }

    .qtyord {
        background-color: #e9e9e18f;
    }

    .ssss {
        background-color: rgba(185, 103, 171, 0.61);
    }

    .qtyAllocated {
        background-color: antiquewhite;
    }
     .sp {
        background-color: aquamarine;
    }
    .trunc{
  width:50px; 
  white-space: unset; 
  overflow: hidden; 
  text-overflow: ellipsis;
}
 
</style>

<style type="text/css">
    .webgrid-table td, th {
        border: 1px solid #98BF21;
    }

    .webgrid-header {
        background-color: #A7C942;
        color: #FFFFFF;
        text-align: left;
    }

    .webgrid-alternating-row {
        background-color: #EAF2D3;
    }

    .colWidth {
        width: 200px;
    }

    #Outer {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }

    #GridBody {
        width: 1020px;
        height: 200px;
        overflow-y: scroll;
        border: solid 1px #e8eef4;
    }

    #GridHeader table {
        width: 1022px;
        text-align: left;
        margin-top: 0px;
        border: solid 1px #A7C942;
        padding: 0px;
        border-collapse: collapse;
    }

    #GridFooter {
        border: solid 1px #e8eef4;
        width: 1020px;
    }

    #GridHeader table th {
        width: 200px;
    }
</style>
<div  id="gridContent" >

        @grid.GetHtml(//tableStyle: "Grid",
                                          htmlAttributes: new { @id = "myTable05", @class = "Grid" },
                                 headerStyle: "headerx",
                                 alternatingRowStyle: "alt",
                                 selectedRowStyle: "select",
                //headerStyle: "webgrid-header",
                //footerStyle: "webgrid-footer",
                //alternatingRowStyle: "webgrid-alternating-row",
                //selectedRowStyle: "webgrid-selected-row",
                //rowStyle: "webgrid-row-style",
                //mode: WebGridPagerModes.All,
                 columns: grid.Columns(
            grid.Column("No", "Confirm", format: @<button id="@item.ckrow" class="btn btn-success" lineno="@item.seqnum" totbck="@item.Totbck " revqty=" @item.revqty " saleddat=" @item.SaleOrder_Date " dlvdat=" @item.DLVDAT " docnoe=" @item.SaleOrder_No " slmcod=" @item.SLMCOD " slmnam=" @item.SLMNAM " cuscod=" @item.CUSCOD " cusnam=" @item.CUSNAM " confirmorderqty=" @item.ConfirmOrderQty " qty=" @item.ordqty " stkcod=" @item.STKCOD " stkgrp=" @item.STKGRP " stkdes=" @item.STKDES " price=" @item.Price " saleprice=" @item.SalePrice " discount=" @item.Discount " amt=" @item.Amt " inventory=" @item.TOTBAL " saleorder_date=" @item.SaleOrder_Date " seqe=" @item.SeqNum " promo=" @item.PromotionCode " linenote=" @item.LineNote " revqty=" @item.REVQTY " style=" cursor pointer;color:white;">Confirm</button>),
           grid.Column("CUSCOD", format: (item) => item.CUSCOD + "/" + item.CUSNAM),
                             grid.Column("SaleOrder_Date", "วันที่สั่ง"),
                             grid.Column("วันส่ง", format: (item) => item.DLVDAT, style: "promo"),
                                                         grid.Column("STKCOD", "Stkcod"),
                                                         grid.Column("STKDES", format: (item) => item.Stkdes, style: "trunc"),
                                                         grid.Column("Document No", format: (item) => item.SaleOrder_No),
                                                         //grid.Column("Alloc", format: (item) => item.Allocated, style: "qtyAllocated"),
                                                         grid.Column("ORD", format: (item) => item.ORDQTY, style: "qtyord"),
                 grid.Column("ConfirmOrderQty", "จำนวนที่ปล่อย b/o", format: @<input type="text" title="" class="tQty" id="@item.Qtybackrow" readonly="readonly" value="@item.ConfirmOrderQty" name="S_Qty" style="color: blue; width: 81px; height: 35px;font-size: 20px;">),
                 grid.Column("ConfirmOrderQty", "ยืนยันส่ง", format: @<input type="text" title="" class="tclear" id="@item.Qtyclearrow" name="S_Qtyclear" style="color: blue; width: 81px; height: 35px;font-size: 20px;">),
                 grid.Column("ConfirmOrderQty", "จำนวนคงเหลือ", format: @<input type="text" title="" class="tLeftover" id="@item.Qtyleftoverkrow" name="S_QtyLeftover" style="color: blue; width: 81px; height: 35px;font-size: 20px;">),
                                                         grid.Column("SalePrice", format: (item) => item.SalePrice, style: "sp"),
                                                         grid.Column("KDC", format: (item) => item.TOTBAL, style: "ssss"),

                                                         grid.Column("","Line Note", format: @<input type="text" class="tlinenote" value="@item.LineNote" name="S_linenote" style=" background-color:white; color: blue; width:100px; height: 35px;font-size: 20px;">),
                                                             grid.Column("Totbck", format: (item) => item.Totbck),
                                                             grid.Column("Reserve", format: (item) => item.REVQTY, style: "qtyAllocated"),
                                                             grid.Column("เข้าคลังล่าสุด", format: (item) => item.InStock, style: "ssss"),
                                                             grid.Column("Comment", "Comment"),
                                                             grid.Column("Promo", "Promo"),
                                                             grid.Column("SLMCOD", format: (item) => item.SLMCOD + "/" + item.SLMNAM),
                                                             grid.Column("Line No.", format: (item) => item.SeqNum),
                                                             grid.Column("COM", "COM")
                //  grid.Column("STKGRP", "Stkgrp")
                                                                           ))
        @if (grid.HasSelection)
        {
            NewShop.Models.BackOrderbyItem BackOrderbyItem = (NewShop.Models.BackOrderbyItem)grid.Rows[grid.SelectedIndex].Value;

        }


        <script type="text/javascript">

            $(function () {
                $("#GridHeader").html("<table>" + $('#gridContent table thead').html() + "</table>");
                $("#GridHeader table tr:first").append("<th style='width:12px;' ></th>");
                $("#GridBody").html("<table>" + $('#gridContent table tbody').html() + "</table>");
                $("#GridFooter").html("<table>" + $('#gridContent table tfoot').html() + "</table>");
                //$("#gridContent").hide();
            });
        </script>
</div>





